<section class="registration">
    <div class="header header--reg">
        <button class="header__back"></button>
        <h4 class="header__title">Регистрация</h4>
    </div>
    <div class="wrapper">
        <form action="POST" class="registration__form">
            <div class="registration__inp-wrap">
                <input type="email" name="email" id="email" required placeholder="Email@gmail.com" class="registration__inpt">
            </div>
            <div class="registration__inp-wrap">
                <input type="password" name="password" id="password-reg" required placeholder="Пароль" class="registration__inpt">
            </div>
            <div class="registration__inp-wrap">
                <input type="password" name="password" id="password-reg-confirm" required placeholder="Подтверждение пароля" class="registration__inpt">
            </div>
            <div class="registration__inp-wrap">
                <input type="text" name="property" id="property" placeholder="Форма собственности" class="registration__inpt">
            </div>
            <div class="registration__inp-wrap">
                <input type="text" name="company" id="company" placeholder="Название компании" class="registration__inpt">
            </div>
            <div class="registration__inp-wrap">
                <input type="text" name="SNP" id="SNP" required placeholder="ФИО" class="registration__inpt">
            </div>
            <div class="registration__inp-wrap">
                <input type="text" name="tel" id="tel" required placeholder="Телефон" class="registration__inpt">
            </div>
            <input type="submit" value="Зарегистрироваться" class="btn btn--reg">
        </form>
        <a href="#" class="registration__link-conditions">Условия пользования сервисом</a>
    </div>

</section>
