<section class="task-open">
    <div class="header">
        <button class="header__back"></button>
        <h4 class="header__title">Просмотр задачи</h4>
    </div>
    <div class="wrapper wrappers">
        <div class="customer">
            <div class="customer__wrap-icon">
                <img src="./img/foto1.jpg" alt="foto" class="customer__img">
            </div>
            <span class="customer__name" id="customer">Иванов Заказчик Петрович</span>
        </div>
        <div class="executor">
            <div class="executor__colorline"></div>
            <div class="executor__info">
                <div class="executor__wrap-icon">
                    <img src="./img/foto2.jpg" alt="foto" class="executor__img">
                </div>
                <span class="executor__name" id="executor">Петров Евгений Юрьевич</span>
            </div>
            <div class="executor__data">
                <div class="executor__id task-norm">
                    <span class="executor__param">ID</span>
                    <span class="executor__val">353</span>
                </div>
                <div class="executor__task">
                    <div class="executor__type-task">
                        <span class="executor__type-name">Тип задачи:</span>
                        <span class="executor__type-val">Обычная</span>
                    </div>
                    <div class="executor__condition-task">
                        <span class="executor__condition-name">Открыта:</span>
                        <span class="executor__condition-date">15 Июня в 14:25</span>
                    </div>
                    <div class="executor__die-task">
                        <span class="executor__die-name">Срок выполнения:</span>
                        <span class="executor__die-date">18 Июня</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile__block">
            <label class="profile__label" for="period">
                Срок исполнения:
            </label>
            <div class="profile__inp-wrap">
                <input type="text" class="profile__inp-date" placeholder="Укажите дату">
                <input name="period" type="date" class="profile__input profile__input--date">
                <button class="profile__data-edit"></button>
            </div>
        </div> 
        <div class="description">
            <span class="description__title">
                Описание задачи:
            </span>
            <p class="description__text">Краткое описание консультации или задачи. консультации или зада Краткое описание консультации или задачи Краткое описание консультации или задачи</p>
        </div>
        <div class="comments">
            <div class="comments__title-wrap">
                <h5 class="comments__title">
                    Комментарии к задаче
                </h5>
                <span>(<span class="comments__val">3</span>)</span>
            </div>
            <div class="comments__item">
                <div class="comments__user-foto">
                    <div class="comments__wrap-icon">
                        <img src="./img/foto1.jpg" alt="foto" class="comments__img">
                    </div>
                    <div class="online"></div>
                </div>
                <div class="comments__info">
                    <span class="comments__user comments__user--customer">Иванов Заказчик Петрович</span>
                    <p class="comments__text">Привет. Когда сможете пристПривет. Когдаможетеприс тупитьетепристП ривет. Когда смо жете приступить??</p>
                    <span class="comments__date">15 Июля в 17:45</span>
                </div>
            </div>
            <div class="comments__item">
                <div class="comments__user-foto">
                    <div class="comments__wrap-icon">
                        <img src="./img/foto2.jpg" alt="foto" class="comments__img">
                    </div>
                    <div class="online"></div>
                </div>
                <div class="comments__info">
                    <span class="comments__user">Петров Евгений Юрьевич</span>
                    <p class="comments__text">Привет. Когда сможете пристПривет. Когдаможетеприс тупитьетепристП ривет. Когда смо жете приступить??</p>
                    <span class="comments__date">15 Июля в 17:45</span>
                </div>
            </div>
            <div class="comments__item">
                <div class="comments__user-foto">
                    <div class="comments__wrap-icon">
                        <img src="./img/foto1.jpg" alt="foto" class="comments__img">
                    </div>
                    <div class="online"></div>
                </div>
                <div class="comments__info">
                    <span class="comments__user comments__user--customer">Иванов Заказчик Петрович</span>
                    <p class="comments__text">Привет. Когда сможете пристПривет. Когдаможетеприс тупитьетепристП ривет. Когда смо жете приступить??</p>
                    <span class="comments__date">15 Июля в 17:45</span>
                </div>
            </div>
        </div>
        <div class="task-open__btns">
            <button class="btn task-open__write">Написать комментарий</button>
            <button class="btn task-open__save">Завершить задачу</button>
        </div>
    </div>
</section>
